mainmenu "Q29uY2x1c2l2ZSBFbmdpbmVlcmluZw"

# bluetooth module
config BT_ADV_UUID_TIME_LOW
    hex "BLE advertising UUID time-low section value"

config BT_ADV_UUID_TIME_MID
    hex "BLE advertising UUID time-mid section value"

config BT_ADV_UUID_TIME_HIGH_AND_VERSION
    hex "BLE advertising UUID time-high-and-version section value"

config BT_ADV_UUID_CLOCK_SEQUENCE_HI_AND_RES_CLOCK_SEQUENCE_LOW
    hex "BLE advertising UUID clock-seq-and-reserved && clock-seq-low section value"

config BT_ADV_UUID_NODE
    hex "BLE advertising UUID node section value"

config BT_SERVICE_UUID_TIME_LOW
    hex "BLE advertising UUID time-low section value"

config BT_SERVICE_UUID_TIME_MID
    hex "BLE advertising UUID time-mid section value"

config BT_SERVICE_UUID_TIME_HIGH_AND_VERSION
    hex "BLE advertising UUID time-high-and-version section value"

config BT_SERVICE_UUID_CLOCK_SEQUENCE_HI_AND_RES_CLOCK_SEQUENCE_LOW
    hex "BLE advertising UUID clock-seq-and-reserved && clock-seq-low section value"

config BT_SERVICE_UUID_NODE
    hex "BLE advertising UUID node section value"

config BT_SERVICE_RX_UUID_TIME_LOW
    hex "BLE advertising UUID time-low section value"

config BT_SERVICE_RX_UUID_TIME_MID
    hex "BLE advertising UUID time-mid section value"

config BT_SERVICE_RX_UUID_TIME_HIGH_AND_VERSION
    hex "BLE advertising UUID time-high-and-version section value"

config BT_SERVICE_RX_UUID_CLOCK_SEQUENCE_HI_AND_RES_CLOCK_SEQUENCE_LOW
    hex "BLE advertising UUID clock-seq-and-reserved && clock-seq-low section value"

config BT_SERVICE_RX_UUID_NODE
    hex "BLE advertising UUID node section value"

config BT_SERVICE_TX_UUID_TIME_LOW
    hex "BLE advertising UUID time-low section value"

config BT_SERVICE_TX_UUID_TIME_MID
    hex "BLE advertising UUID time-mid section value"

config BT_SERVICE_TX_UUID_TIME_HIGH_AND_VERSION
    hex "BLE advertising UUID time-high-and-version section value"

config BT_SERVICE_TX_UUID_CLOCK_SEQUENCE_HI_AND_RES_CLOCK_SEQUENCE_LOW
    hex "BLE advertising UUID clock-seq-and-reserved && clock-seq-low section value"

config BT_SERVICE_TX_UUID_NODE
    hex "BLE advertising UUID node section value"

# sensor module
config SENSOR_THREAD_STACK_SIZE
    int "Sensor thread stack size"

config SENSOR_THREAD_PRIORITY
    int "Sensor thread priority"

config SENSOR_THREAD_PERIOD_DEFAULT_VALUE
    int "Default period of the sensor thread in milliseconds"

source "Kconfig.zephyr"
